/**
 * Design elements for kunlaborejo template
 *
 * @author Artem <silentulo cxe gmail.com>
 */

/* -------------- general elements --------------- */

input {
  font: 14px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
}

body {
  font: 14px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  background-color: __background_body__;
  color: black;
}

img {
	border: 0px;
}

body * { 
	line-height: 1.4em;
}

.meta {
  font-size: 70%;
  background-color: __background_body__;
  color: __text_meta__;
}

#breadcrumbs {
  background-color: __background_body__;
  color: __text_neu__;
}

#breadcrumbs span, #breadcrumbs a{
  font-size: 80%;
}

/* ------------- header ---------------------------*/
#header {
}

#logo img {
	height: 3em;
}

#userinfo {
  background: #555;
  color: white;
}

/* ------------- menu -----------------------------*/
#mainmenu {
	border-bottom: __header_line_width__ solid __header_line_color__;
}

#mainmenu ul {
}

#mainmenu li {
	border-bottom: __header_line_width__ solid __background_body__;
	padding: 0 0.2em;
//	margin: 0 0.2em;
}

#mainmenu a {
	border-bottom: __header_line_width__ solid #008080;
	padding: 0 0.4em;
//	text-transform: uppercase;
	text-decoration: none;
	color: #333;
}

#mainmenu a:hover {
	border-bottom: __header_line_width__ solid #00a0a0;
}

#searchtool {
	border-bottom: __header_line_width__ solid __background_body__;
	padding: 0 0.4em;
}

#searchtool input.button {
	position: relative;
	border: 0em solid;
	border-bottom: __header_line_width__ solid #008080;
	background: __background_body__;
	top: 0.15em;   // Fix this hack, the button should be positioned automatically
	margin: 0 0.2em;
}

#searchtool input.edit {
	margin: 0 0.2em;
	border: 0 solid;
	border-bottom: __header_line_width__ solid #008000;
	background: white;
	width: 15em;
}
/* ------------ sidebars --------------------------*/
.sidebar_box li {
	font-size: 90%;
    list-style-type: none;
}

li.level2, li.level3, li.level4  {
	padding-left: 1em;
}

/* ------------ footer ----------------------------*/
#page_meta {
  text-align: right;
}

#footer_info {
	background: #BBCCD9;
	color #CADCEA;
	border-top: 0.4em solid #AABBC9
}
