/**
 * Design elements for kunlaborejo template
 *
 * @author Artem <silentulo cxe gmail.com>
 */

/* -------------- general elements --------------- */

body {
  font: 0.8em "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: white;
  color: black;
}

body * { 
	line-height: 1.4em;
}

.meta {
  font-size: 70%;
  background-color: __background_meta__;
  color: __text_meta__;
}

#breadcrumbs {
  background-color: __background_neu__;
  color: __text_neu__;
  font-size: 80%;
  padding: 0 0 0 4px;
}

/* ------------- header ---------------------------*/
#header {
	background: #FAFAFA;
}

#userinfo {
  background: #EAF2F5;
  border: 1px solid #DAE2E5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* ------------- menu -----------------------------*/
#mainmenu {
	background: #EEE;
}

#submenu {
	background: #DDD;
	color: black;
}


/* ------------ footer ----------------------------*/
#page_meta {
  text-align: right;
}

#footer_info {
	background: #BBCCD9;
	color #CADCEA;
}
