/**
 * Design elements for kunlaborejo template
 *
 * @author Artem <silentulo cxe gmail.com>
 */

/* -------------- general elements --------------- */

input {
  font: 14px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
}

body {
  font: 14px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  background-color: __background__;
  color: black;
}

img {
	border: 0px;
}

body * { 
	line-height: 1.4em;
}

li.level2, li.level3, li.level4  {
	padding-left: 1em;
}

.meta {
  font-size: 70%;
  background-color: __background__;
  color: __text_meta__;
}

.secedit input.button {
	margin-top: 1em;
	font-size: 80%;
}

.secedit form {
	text-align: right;
}

p {
	margin-bottom: 1.4em;
	text-align: justify;
}

a:link,
a:visited {
  color: __link__;
  text-decoration: none;
}

a:hover,
a:active {
  color: __link__;
  text-decoration: underline;
}

/* not existing wikipage */
a.wikilink2 {
  color: __missing__ !important;
  text-decoration: none !important;
  border-bottom: dashed 1px __missing__ !important;
}


/* ------------- header ---------------------------*/
#header {
}

#logo img {
}

#userinfo {
  background: #555;
  color: white;
}

#breadcrumbs {
  padding-top: 0.3em;
  background-color: __background__;
  color: __text_neu__;
  font-size: 80%;
}

/* ------------- menu -----------------------------*/
#mainmenu {
	border-bottom: __header_line_width__ solid __border__;
}

#mainmenu ul {
}

#mainmenu li {
	border-bottom: __header_line_width__ solid __background__;
	padding: 0 0.2em;
//	margin: 0 0.2em;
}

#mainmenu a {
	border-bottom: __header_line_width__ solid #008080;
	padding: 0 0.4em;
	font-variant: small-caps;
	text-decoration: none;
}

#mainmenu a.admin {
	border-bottom: __header_line_width__ solid #800080;
	padding: 0 0.4em;
	font-variant: small-caps;
	text-decoration: none;
}

#mainmenu a:hover {
	border-bottom: __header_line_width__ solid #00f0f0;
}

#searchtool {
	border-bottom: __header_line_width__ solid __background__;
	padding: 0 0.4em;
}

#searchtool input.button {
	position: relative;
	border: 0em solid;
	border-bottom: __header_line_width__ solid #008080;
	background: __background__;
	top: 0.15em;   // Fix this hack, the button should be positioned automatically
	margin: 0 0.2em;
	cursor:pointer;
}

#searchtool input.button:hover {
	border-bottom-color: #00f0f0;
}

#searchtool input.edit {
	margin: 0 0.2em;
	border: 0 solid;
	border-bottom: __header_line_width__ solid #008000;
	background: white;
	width: 15em;
}
/* ------------ sidebars --------------------------*/
#left_sidebar {
	border-right: 0.1em solid #888;
	padding-right: 1em;
}

#right_sidebar {
	border-left: 0.1em solid #888;
	padding-left: 1em;
	
}

.sidebar_box {
	margin-bottom: 1.4em;
}

.sidebar_box li, .sidebar_box p, .sidebar_box input {
	font-size: 90%;
}

.sidebar_box li {
    list-style-type: none;
}


.sidebar_box h1, .tocheader {
	font-size: 100%;
	font-weight: bold;
	border-bottom: 0.1px solid #888;
}

.toc_close, .toc_open {
	float: right;
}

.sidebar_box h2 {
	font-size: 90%
}

.sidebar_box a:visited {
	color: #0000EE;
}


/* ------------ footer ----------------------------*/
#page_meta {
  text-align: right;
}

#footer_info {
	background: #BBCCD9;
	color #CADCEA;
	border-top: 0.4em solid #AABBC9
}

/* ------------ config manager -------------------*/
#config__manager fieldset {
	padding: 1em 1em 0em;
}

#config__manager td.label span.outkey {
	margin-top: -1em;
	margin-left: 0em;
}