
/* --------- settings for discussion -------------- */

.comment_wrapper {
	background: __discussion_background__;
	padding-right: 2em ;
}

.comment_wrapper .comment_head {
	font-size: __discussion_head_font_size__;
}

.comment_subscribe {
	padding-left: 2em;
	display: inline;
}

.comment_subscribe label.block {
	display: inline !important;
}

.comment_buttons {
	text-align: right;
	font-size: 70%;
	margin: -1.4em 0em 1.4em;
}

/* ------------- translations ---------------------- */
div.plugin_translation>span {
	display: none;
}

div.plugin_translation li {
	display: inline;
}

div.plugin_translation div.li {
	display: inline;
}

div.plugin_translation span.curid {
	font-weight: bold;
}