/**
 * Design elements for kunlaborejo template
 *
 * @author Artem <silentulo cxe gmail.com>
 */

/* -------------- general elements --------------- */

* { padding: 0; margin: 0; }

html, body {
	height: 100%;
}

#dokuwiki {
	height: auto !important;
	min-height: 100%;
	margin: 0pt auto -4.2em;
}

.push {
	height: 4.2em;
	padding-bottom: 4em;
}

/* -------------- header -------------------*/
#header {
	height: 4.2em;
	padding: 0.5em 4em;
}

#logo {
	float: left;
}

#searchtool {
	float: right;
	margin-right: 5em;
}

#userinfo {
	float: right;
	min-width: 20em;
}

/* --------------- body --------------------*/
#left_sidebar {
  float: left;
  width: 20%;
  border: 1px solid;
}

#right_sidebar {
  float: right;
  width: 20%;
  border: 1px solid;
}

#page {
  text-align: justify;
  float: left;
  width: 55%;
  margin: 0em 2%;
  border: 1px solid;
}


/* --------------- footer ------------------*/
#footer {
	height: 4.2em;
	overflow: hidden;
}

