/**
 * Tableless layout for kunlaborejo template
 *
 * @author Artem <silentulo cxe gmail.com>
 */

/* -------------- general elements --------------- */

* { padding: 0; margin: 0; }

html, body {
	height: 100%;
}

#dokuwiki {
	height: auto !important;
	min-height: 100%;
	margin: 0pt auto -6.2em;
}

.push {
	clear: both;
	height: 6.2em;
	padding-bottom: 4em;
}

.site {
	padding: 0em 2em;
}

/* -------------- header -------------------*/
#header {
//	height: 4.2em;
	padding-top: 0.5em;
}

#logo {
	float: left;
}


#userinfo {
	float: right;
	padding: 0.5em;
	min-width: 25em;
	height: 2.6em;
}

#breadcrumbs {
	margin-bottom: 1.4em;
}

/* --------------- menu --------------------*/
#mainmenu {
	clear: both;
	padding-top: 0.5em;
	height: 2em;
}

#searchtool {
	float: right;
}

#submenu {
	padding: 0.2em 0em;
}

/* --------------- body --------------------*/
#left_sidebar {
  float: left;
  width: __left_sidebar_width__;
  border: 1px solid;
}

#right_sidebar {
  float: right;
  width: __right_sidebar_width__;
  border: 1px solid;
}

#page {
  float: left;
  width: __page_width__;
  margin-left: __page_margin__;
  border: 1px solid;
}

#page_meta {
	margin-top: 2em;
}


/* --------------- footer ------------------*/
#footer {
	height: 6.2em;
	overflow: hidden;
}

#footer_info {
	height: 100%;
	padding: 1em;
}
