; KUNLABOREJO-TEMPLATE-STYLE.INI
; @author: Artem <silentulo cxe gmail.com>

; Please see http://www.php.net/manual/en/function.parse-ini-file.php
; for limitations of the ini format used here

; Define the stylesheets your template uses here. The second value
; defines for which output media the style should be loaded. Currently
; print, screen and rtl are supported. rtl styles are loaded additionally
; to screen styles if a right-to-left language is selected (eg. hebrew)
[stylesheets]
layout.css          = screen
design_page.css     = screen
design.css          = screen
;mediamanager.css   = screen
;rtl.css            = rtl
;print.css          = print

; This section is used to configure some placeholder values used in
; the stylesheets. Changing this file is the simplest method to
; give your wiki a new look.
[replacements]

;-------------------------------------
; widths for main body part
__left_sidebar_width__=14%
__page_width__=66%
__page_margin__=2%
__right_sidebar_width__=14%

;-------------------------------------
; header:
__header_line_width__ = 0.2em;
__header_line_color__ = #555;

;-------------------------------------
; colors

; main text and background colors
__text__           = "#000"
__background__     = "#f9f9f9"

; alternative text and background colors
__text_alt__       = "#638c9c"
__background_alt__ = "#dee7ec"

; other text and background colors
__text_other__       = "#ccc"
__background_other__ = "#f7f9fa"

; neutral colors
__text_neu__         = "#666"

; colors for meta information
__text_meta__        = "#558"

; border color
__border__           = "#888"

; these are used for links
__link__      = "#0000EE"
__extern__    = "#436976"
__existing__  = "#0000EE"
__missing__   = "#ed5353"

; highlighting search snippets
__highlight__ = "#ff9"



; setup vim: ts=2 sw=2:
