; KUNLABOREJO-TEMPLATE-STYLE.INI
; @author: Artem <silentulo cxe gmail.com>

; Please see http://www.php.net/manual/en/function.parse-ini-file.php
; for limitations of the ini format used here

; Define the stylesheets your template uses here. The second value
; defines for which output media the style should be loaded. Currently
; print, screen and rtl are supported. rtl styles are loaded additionally
; to screen styles if a right-to-left language is selected (eg. hebrew)
[stylesheets]
layout.css         = screen
design.css         = screen
;mediamanager.css   = screen
;rtl.css           = rtl
;print.css         = print

; This section is used to configure some placeholder values used in
; the stylesheets. Changing this file is the simplest method to
; give your wiki a new look.
[replacements]

;-------------------------------------
; widths for main body part
__left_sidebar_width__=14%
__page_width__=66%
__page_margin__=2%
__right_sidebar_width__=14%

;-------------------------------------
; header:
__header_line_width__ = 0.2em;
__header_line_color__ = #555;

;-------------------------------------
; colors
__background_body__ = "#f9f9f9"
__text_neu__       = "#666"
__text_meta__       = "#558"


; setup vim: ts=2 sw=2:
